body {
    font-family: 'Rubik', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.open_sans {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 36px;
}

h2, .qualities .header_free {
    font-size: 32px;
}

h3, header .header_free {
    font-size: 24px;
}

h4, .header_button {
    font-size: 20px;
}

footer ul:not(.footer_challenge) li:first-of-type {
    font-size: 16px;
}

.header_limited, .footer_seo p, .footer__term a {
    font-size: 14px;
}

.connect_form p {
    font-size: 12px;
}

.footer_nav ul li, .connect_form label, .connect_form input, .connect_form select {
    font-size: 10px;
}

.opacity_0 {
    opacity: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.quize_start button {
    text-transform: uppercase;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

:root {
    --blue: #5A17FF;
    --orange: #FF844F;
}

.black {
    color: #111111;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* header section */

header {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(./images/header_back.png) center center no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 30px;
}

h1, .experience_list h4, .qualities h2, .qualities__list h4, .qualities__list h3, .qualities__list img, .connect_form_checkbox, .quize_start h4, .footer__term a, .connect_question h4, .connect_result h6 {
    margin-bottom: 20px;
}

.experience_list ul li, .connect_form_input input, .connect_form_input select, .connect_question p {
    margin-bottom: 12px;
}

.qualities__list ul li, .connect_question button, .connect_result a {
    margin-bottom: 10px;
}

header article h4, header .header_limited {
    margin-bottom: 40px;
}

header .header_free {
    margin-bottom: 6px;
    color: #1BD895;
}

.header_button, .connect_form button {
    width: 184px;
    height: 56px;
    background-color: #E96B2C;
    border-radius: 5px;
    transition: background-color .2s;
}

.header_button:hover, .connect_form button:hover, .quize_add_links button:hover {
    background-color: #0069d9;
    border-color: #0069d9;
}

/* experience section */

.experience {
    padding-top: 60px;
}

.experience_list {
    margin-top: 31%;
    margin-bottom: 40px;
    padding: 20px 15px 35px 15px;
    box-shadow: 0px 9px 90px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    z-index: 99;
}

.experience_list h4 {
    line-height: 24px;
}

.experience_list ul {
    list-style: decimal-leading-zero outside;
}

.experience_list ul li {
    line-height: 19px;
}

.experience_list ul li::marker {
    font-weight: 500;
    color: var(--blue);
}

/* qualities section */

.qualities {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #F1F2F4;
}

.qualities__list {
    padding: 20px 10px 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: var(--blue);
}

.qualities__list ul {
    margin-right: auto;
    padding-inline-start: 20px;
}

.qualities__list ul li {
    line-height: 19px;
}

.qualities__list img {
    width: 100px;
    height: 130px;
}

.qualities__list:first-of-type img {
    margin-right: -10px;
}

.qualities__list:last-of-type img {
    margin-left: -10px;
}

.qualities__work {
    padding-top: 20px;
    border-top: 1px solid #FFFFFF;
}

.qualities span {
    margin: auto;
    padding: 10px 20px;
    font-size: 48px;
    color: var(--blue);
}

.qualities .header_free {
    margin-top: 40px;
    margin-bottom: -5px;
    color: #1BD895;
}

/* connect section */

/* connect_form */

.connect {
    height: 600px;
    background: linear-gradient(180deg, #5E19CE 0%, #4021D6 100%);
    transition: height .2s;
}

.connect_form, .connect_quiz {
    left: 0;
    right: 0;
    padding: 40px 15px 0;
}

.connect_form h4, .connect_form p {
    margin-bottom: 26px;
}

.connect_form p {
    line-height: 16px;
    color: #F31212;
}

.connect_form form {
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
}

.connect_form_input input, .connect_form_input select {
    width: 100%;
    height: 32px;
    border-radius: 10px;
}

.connect_form input, .connect_form_input select {
    border: 1px solid #ABABAB;
}

.connect_form input, .connect_form input::placeholder, .connect_form_input select {
    color: #17181A;
}

.connect_form input, .connect_form_input select {
    padding: 0 15px;
}

.connect_form_input select {
    padding-right: 20px;
    background: url(./images/Arrow.svg) no-repeat 97% center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.connect_form_checkbox label {
    line-height: 12px;
    font-weight: 300;
}

.connect_form_checkbox input {
    margin-right: 12px;
    margin-bottom: auto;
}

.connect_form button {
    width: 100%;
    height: 42px;
}

.connect_form input:focus, .connect_form_input select:focus {
    outline: none;
    border-color: #17181A;
}

/* connect_quiz */

.connect_height {
    height: 285px;
}

.quize_add, .connect_question {
    padding: 20px 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
}

.quize_start button {
    width: 200px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
}

.quize_start button:hover {
    color: var(--orange)!important;
    border-color: var(--orange);
}

.question_height {
    height: 620px;
}

.connect_question {
    left: 0;
    right: 0;
    margin: 40px 15px 0;
}

.connect_question p {
    color: #ABABAB;
}

.connect_question button {
    width: 100%;
    height: 82px;
    padding: 20px;
    line-height: 19px;
    text-align: left;
    border: 2px solid #D2D3D3;
    border-radius: 5px;
    background-color: transparent;
}

.question_icon {
    width: 42px;
    height: 42px;
    margin-right: 10%;
}

.question_icon:not(.quest_03_icon_02):not(.quest_03_icon_03) {
    fill: #8A919D;
}

.quest_03_icon_02, .quest_03_icon_03 {
    fill: #FFFFFF;
}

.connect_question button:hover {
    border-color: #4C1ED3;
}

.connect_question button:hover .question_icon {
    fill: #4C1ED3;
}

/* seo section */

.seo {
    padding-top: 40px;
    padding-bottom: 60px;
    background: #FFF0E6;
}

.seo p {
    line-height: 19px;
}

/* footer */

footer {
    padding-top: 110px;
    padding-bottom: 20px;
    background: #394046;
}

.footer_nav {
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer_nav ul {
    padding-inline-start: unset;
}

.footer_nav li {
    display: block;
}

.footer_nav a {
    color: #FFFFFF;
}

.footer_challenge li {
    display: flex;
}

.footer_challenge svg {
    width: 25px;
    height: 20px;
}

.footer_seo {
    padding-top: 20px;
    border-top: 1px solid #FFFFFF;
}

.footer_seo p {
    line-height: 22px;
}

.footer_social {
    padding: 20px 0;
}

.footer_social svg, .footer_nav_social svg {
    width: 30px;
    height: 20px;
}

.footer__term a:last-of-type {
    margin-left: 20px;
}

@media (min-width: 1200px) {}

@media (min-width: 992px) {
    .qualities__work {
        display: none;
    }
    header {
        padding-top: 100px;
        padding-bottom: 110px;
    }
    h1 {
        font-size: 64px;
    }
    .qualities h2 {
        font-size: 40px;
    }
    .connect_question h4, .connect_result h5 {
        font-size: 32px;
    }
    header h4, .experience_list h4, .qualities__list h4, .connect_form h4, .connect_question p, .connect_result h6 {
        font-size: 24px;
    }
    .qualities__list ul li, footer .footer_nav ul li:first-of-type, .connect_question button {
        font-size: 20px;
    }
    .experience ul li::marker {
        font-size: 17px;
    }
    .footer_seo p, .connect_form p {
        font-size: 16px;
    }
    .footer_nav ul li {
        font-size: 14px;
    }
    .connect_form input, .connect_form select {
        font-size: 12px;
    }
    .connect_form label {
        font-size: 10px;
    }
    header>.container, .experience, .qualities__dispaly, .footer__term, .connect_result>div {
        -webkit-box-orient: horizontal!important;
        -webkit-box-direction: normal!important;
        -ms-flex-direction: row!important;
        flex-direction: row !important;
    }
    header>div>article {
        max-width: 430px;
    }
    header>div>article, .footer__term>img, .footer_education, .connect_form_input input[name="name"] {
        order: 1;
    }
    header>div>img, .footer__term>div, .footer_about, .connect_form_input select[name="country"] {
        order: 2;
    }
    .footer_programs, .connect_form_input input[name="email"] {
        order: 3;
    }
    .footer_contacts, .connect_form_input input[name="phone"] {
        order: 4;
    }
    .footer_trading {
        order: 5;
    }
    .footer_nav_social {
        order: 6;
    }
    header article h4, header .header_limited {
        margin-bottom: 47px;
    }
    .experience {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .experience>img {
        position: unset;
    }
    .experience_list {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -13%;
        padding: 40px 60px 40px 40px;
    }
    .experience_list h4 {
        margin-bottom: 24px;
    }
    .experience_list ul li {
        margin-bottom: 22px;
    }
    .qualities {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .qualities h2, .connect_form h4, .connect_result h6 {
        margin-bottom: 40px;
    }
    .qualities h2, .connect_question button, .connect_result {
        text-align: center;
    }
    .qualities__dispaly {
        min-height: 336px;
    }
    .qualities__list {
        width: 520px;
        padding-top: 60px;
        padding-bottom: 30px;
        position: relative;
    }
    .qualities__list:first-of-type {
        padding-right: 170px;
        padding-left: 40px;
    }
    .qualities__list:last-of-type {
        padding-right: 40px;
        padding-left: 170px;
    }
    .qualities__list ul li {
        line-height: 24px;
    }
    .qualities__list img {
        width: 170px;
        height: 220px;
        position: absolute;
        top: 60px;
        bottom: 0;
        margin: 0 !important;
    }
    .qualities__list:first-of-type img {
        right: 0;
    }
    .qualities__list:last-of-type img {
        left: 0;
    }
    .qualities .header_free {
        margin-top: 60px;
    }
    .seo {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .footer_nav {
        display: flex;
        justify-content: space-between;
    }
    footer .footer_nav ul li:first-of-type {
        margin-bottom: 8px;
    }
    .footer_pay, .connect_form p, .quize_add h2, .quize_add button, .connect_form_input input[name="email"], .connect_form_input input[name="phone"], .connect_question p, .connect_result h5 {
        margin-bottom: 20px;
    }
    .footer_pay {
        margin-left: auto;
    }
    .footer_seo {
        padding-top: 48px;
    }
    .footer_seo p {
        line-height: 24px;
    }
    .footer__term a {
        font-weight: 400;
    }
    .connect {
        height: 570px;
    }
    .connect_form, .connect_quiz {
        padding-top: 80px;
    }
    .connect_form_input {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
    }
    .connect_form_input input, .connect_form_input select {
        max-width: 300px;
        height: 38px;
    }
    .connect_form_input select, .connect_form_input input[name="name"] {
        margin-bottom: 24px;
    }
    .connect_form_input select, .connect_form_input input[name="phone"] {
        margin-left: auto;
    }
    .connect_form button {
        display: block;
        max-width: 200px;
        height: 50px;
        margin: 0 auto;
    }
    .connect_height, .question_height {
        height: 885px;
    }
    .quize_add, .quize_start, .connect_question {
        max-width: 996px;
        margin: 0 auto;
    }
    .quize_add {
        margin-bottom: 40px;
        padding: 44px 35px 20px;
    }
    .quize_add h6 {
        margin-bottom: 10px;
        color: #898989;
    }
    .quize_add_links>div:nth-of-type(even) {
        padding-left: 20px;
        border-left: 1px solid #898989;
    }
    .quize_add button {
        margin-right: 20px;
        width: 171px;
        height: 50px;
        border-radius: 5px;
        border: 2px solid var(--orange);
        background: var(--orange);
        color: #FFFFFF;
    }
    .quize_add button svg {
        width: 30px;
        height: 32px;
    }
    .quize_start {
        height: 212px;
        padding: 40px;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        text-align: left!important;
        background: linear-gradient(180deg, #5E19CE 0%, #4021D6 100%);
    }
    .connect_question {
        margin-top: 80px;
        padding: 40px 123px 110px;
    }
    .connect_question>svg {
        width: 40px;
        height: 415px;
        left: 4%;
        top: 25%;
    }
    .connect_question h4 {
        height: 90px;
    }
    .connect_question button {
        width: 48%;
        height: 192px;
        line-height: 24px;
        flex-direction: column!important;
        justify-content: center;
        margin-bottom: unset;
    }
    .connect_question button:nth-child(-n+2) {
        margin-bottom: 30px;
    }
    .question_icon {
        width: 70px;
        height: 70px;
        margin-right: unset;
        margin-bottom: 15px;
    }
    .connect_result {
        padding: 60px 40px 110px;
    }
    .connect_result h6 {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .footer_nav {
        grid-template-columns: 33% 33% 33%;
    }
}

@media (min-width: 576px) {}