.rubik {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.open_sans {
    font-family: 'Open Sans', sans-serif;
}

.flexbetcenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* img { */
    /* width: 100%; */
    /* height: auto; */
/* } */

header {
    padding-top: 129px;
    padding-bottom: 111px;
    background: url(./images/header_back.png) center center no-repeat;
    background-size: cover;
    color: #ffffff;
}

/* header img { */
    /* width: 536px; */
    /* height: 384px; */
/* } */

header nav {
    max-width: 430px;
}

h1 {
    font-weight: 500;
    font-size: 64px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 992px) {
    header {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    header>.container {
        flex-flow: column;
    }

    header>div>nav{
        order: 2;
    }

    header>div>img {
        order: 1;
    }

    /* header img { */
        /* max-width: 281px; */
        /* height: 201px; */
    /* } */
}

@media (max-width: 768px) {
   
    h1 {
        font-size: 36px;
        margin-top: 30px;
    }
    h3 {
        font-size: 20px;
    }

    
}

@media (max-width: 576px) {
    header img {
        /* max-width: 100%; */
        /* max-width: 281px;
        height: 201px; */
    }

}
