body {
    font-family: 'Rubik', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.open_sans {
    font-family: 'Open Sans', sans-serif;
}

:root {
    /* --red: #FF0000; */
    --blue: #5A17FF;
    /* --middleblue: #86A0AD; */
    /* --lightblue: #C2CFD6; */
    /* --orange: #FF9100; */
    /* --grey: #707070; */
    /* --lightgrey: #B9B9B9; */
    /* --slgrey: #CCCCCC; */
}

a:hover {
    text-decoration: none;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

button {
    cursor: pointer;
}

/* .relative {
    position: relative;
} */

h1 {
    font-size: 36px;
}

h2, .qualities .header_free {
    font-size: 32px;
}

h3, header .header_free {
    font-size: 24px;
}

h4, .header_button {
    font-size: 20px;
}

footer ul:not(.footer_challenge) li:first-of-type {
    font-size: 16px;
}

.header_limited, .footer_seo p, .footer__term a {
    font-size: 14px;
}

.connect_form p {
    font-size: 12px;
}

.footer_nav ul li, .connect_form label, .connect_form input, .connect_form select {
    font-size: 10px;
}

.absolute {
    position: absolute;
}

.black {
    color: #111111;
}

/* header section */

header {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(./images/header_back.png) center center no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

header article h4, header .header_limited {
    margin-bottom: 40px;
}

header .header_free {
    margin-bottom: 6px;
    color: #1BD895;
}

.header_button, .connect_form button {
    width: 184px;
    height: 56px;
    background-color: #E96B2C;
    border-radius: 5px;
    transition: background-color .2s;
}

.header_button:hover, .connect_form button:hover {
    background-color: #0069d9;
}

/* experience section */

.experience {
    padding-top: 60px;
}

.experience_list {
    margin-top: 31%;
    margin-bottom: 40px;
    padding: 20px 15px 35px 15px;
    box-shadow: 0px 9px 90px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    z-index: 99;
}

.experience_list h4 {
    margin-bottom: 20px;
    line-height: 24px;
}

.experience_list ul {
    list-style: decimal-leading-zero outside;
}

.experience_list ul li {
    margin-bottom: 12px;
    line-height: 19px;
}

.experience_list ul li::marker {
    font-weight: 500;
    color: var(--blue);
}

/* qualities section */

.qualities {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #F1F2F4;
}

.qualities__list {
    padding: 20px 10px 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: var(--blue);
}

.qualities h2, .qualities__list h4, .qualities__list h3, .qualities__list img, .connect_checkbox_input {
    margin-bottom: 20px;
}

.qualities__list ul {
    margin-right: auto;
    padding-inline-start: 20px;
}

.qualities__list ul li {
    margin-bottom: 10px;
    line-height: 19px;
}

.qualities__list img {
    width: 100px;
    height: 130px;
}

.qualities__list:first-of-type img {
    margin-right: -10px;
}

.qualities__list:last-of-type img {
    margin-left: -10px;
}

.qualities__work {
    padding-top: 20px;
    border-top: 1px solid #FFFFFF;
}

.qualities span {
    margin: auto;
    padding: 10px 20px;
    font-size: 48px;
    color: var(--blue);
}

.qualities .header_free {
    margin-top: 40px;
    margin-bottom: -5px;
    color: #1BD895;
}

/* connect section */

.connect {
    background: linear-gradient(180deg, #5E19CE 0%, #4021D6 100%);
}
.connect_form {
    padding-top: 40px;
    padding-bottom: 60px;
    transition: opacity .4s;
}
.connect_form h4, .connect_form p {
    margin-bottom: 26px;
}
.connect_form p {
    line-height: 16px;
    color: #F31212;
}
.connect_form form {
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
}
.connect_form input:not([name="checkbox"]), .connect_form select {
    width: 100%;
    height: 32px;
    margin-bottom: 12px;
    border-radius: 10px;
}
.connect_form input, .connect_form select {
    border: 1px solid #ABABAB;
}
.connect_form input, .connect_form input::placeholder, .connect_form select {
    color: #17181A;
}
.connect_form input, .connect_form select {
    padding: 0 15px;
}
select {
    background: url(./images/Arrow.svg) no-repeat 95% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* background-position-x: 95%; */
}
.connect_checkbox_input label {
    line-height: 12px;
    font-weight: 300;
}
#checkbox {
    margin-right: 12px;
    margin-bottom: auto;
}
.connect_form button {
    width: 100%;
    height: 42px;
}
.connect_form input:focus, .connect_form select:focus {
    outline: none;
    border-color: #17181A;
}














/* seo section */

.seo {
    padding-top: 40px;
    padding-bottom: 60px;
    background: #FFF0E6;
}

.seo p {
    line-height: 19px;
}

/* footer */

footer {
    padding-top: 110px;
    padding-bottom: 20px;
    background: #394046;
}

.footer_nav {
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer_nav ul {
    padding-inline-start: unset;
}

.footer_nav li {
    display: block;
}

.footer_nav a {
    color: #FFFFFF;
}

.footer_challenge li {
    display: flex;
}

.footer_challenge svg {
    width: 25px;
    height: 20px;
}

.footer_seo {
    padding-top: 20px;
    border-top: 1px solid #FFFFFF;
}

.footer_seo p {
    line-height: 22px;
}

.footer_social {
    padding: 20px 0;
}

.footer_social svg, .footer_nav_social svg {
    width: 30px;
    height: 20px;
}

.footer__term a {
    margin-bottom: 20px;
}

.footer__term a:last-of-type {
    margin-left: 20px;
}

@media (min-width: 1200px) {}

@media (min-width: 992px) {
    .qualities__work {
        display: none;
    }
    header {
        padding-top: 100px;
        padding-bottom: 110px;
    }
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 40px;
    }
    h4 {
        font-size: 24px;
    }
    .experience ul li::marker {
        font-size: 17px;
    }
    .footer_seo p, .connect_form p {
        font-size: 16px;
    }
    .connect_form input, .connect_form select {
        font-size: 12px;
    }
    .connect_form label {
        font-size: 10px;
    }
    header>.container, .experience, .qualities__dispaly, .footer__term {
        flex-direction: row !important;
    }
    header>div>article {
        max-width: 430px;
    }
    header>div>article, .footer__term>img, .footer_education {
        order: 1;
    }
    header>div>img, .footer__term>div, .footer_about {
        order: 2;
    }
    .footer_programs {
        order: 3;
    }
    .footer_contacts {
        order: 4;
    }
    .footer_trading {
        order: 5;
    }
    .footer_nav_social {
        order: 6;
    }
    header article h4, header .header_limited {
        margin-bottom: 47px;
    }
    .experience {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .experience>img {
        position: unset;
    }
    .experience_list {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -13%;
        padding: 40px 60px 40px 40px;
    }
    .experience_list h4 {
        margin-bottom: 24px;
    }
    .experience_list ul li {
        margin-bottom: 22px;
    }
    .qualities {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .qualities h2 {
        margin-bottom: 40px;
        text-align: center;
    }
    .qualities__dispaly {
        min-height: 336px;
    }
    .qualities__list {
        width: 520px;
        padding-top: 60px;
        padding-bottom: 30px;
        position: relative;
    }
    .qualities__list:first-of-type {
        padding-right: 170px;
        padding-left: 40px;
    }
    .qualities__list:last-of-type {
        padding-right: 40px;
        padding-left: 170px;
    }
    .qualities__list ul li {
        line-height: 24px;
        font-size: 20px;
    }
    .qualities__list img {
        width: 170px;
        height: 220px;
        position: absolute;
        top: 60px;
        bottom: 0;
        margin: 0 !important;
    }
    .qualities__list:first-of-type img {
        right: 0;
    }
    .qualities__list:last-of-type img {
        left: 0;
    }
    .qualities .header_free {
        margin-top: 60px;
    }
    .footer_nav {
        display: flex;
        justify-content: space-between;
    }
    footer .footer_nav ul li:first-of-type {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .footer_nav ul li {
        font-size: 14px;
    }
    .footer_pay {
        margin-bottom: 20px;
        margin-left: auto;
    }
    .footer_seo {
        padding-top: 48px;
    }
    .footer_seo p {
        line-height: 24px;
    }
    .footer__term a {
        font-weight: 400;
    }
    .connect_form_input {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
    }
    .connect_form {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .connect_form h4 {
        margin-bottom: 40px;
    }
    .connect_form p {
        margin-bottom: 20px;
    }
    .connect_form input:not([name="checkbox"]), .connect_form select {
        max-width: 300px;
        height: 38px;
        margin-bottom: 24px;
    }
    input[name="email"], input[name="phone"] {
        margin-left: auto;
    }


    .connect_form button {
        display: block;
        max-width: 200px;
        height: 50px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .footer_nav {
        grid-template-columns: 33% 33% 33%;
    }
    select {
        background-position-x: 98%;
    }
}

@media (min-width: 576px) {}